<!DOCTYPE html>
<html lang="en" ng-app="BtApp">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>BeerTalk</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/beertalk.css">
    </head>
    <body>
        <div ng-view></div>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
        <script src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
        <script src="/vendor/angular-input-match/dist/angular-input-match.js"></script>
        <script src="/vendor2/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/vendor2/angularjs-utilities/src/directives/rcSubmit.js"></script>
        <script src="/vendor2/angularjs-utilities/src/modules/rcForm.js"></script>
        <script src="/vendor2/spin.js/spin.js"></script>
        <script src="/vendor2/angular-spinner/angular-spinner.js"></script>
        <script src="/js/controllers/loginPageCtrl.js"></script>
        <script src="/js/controllers/mainPageCtrl.js"></script>
        <script src="/js/factories/beerData.js"></script>
        <script src="/js/factories/httpLoadInterceptor.js"></script>
        <script src="/js/factories/user.js"></script>
        <script src="/js/appRoutes.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>